@tailwind base;
@tailwind components;
@tailwind utilities;

html , body{
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

@layer utilities {
    .flex-container{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .innner-container{
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
    }
    .flex-confainer-center{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .flex-confainer-start{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    .flex-container-column{
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
    .grid-container{
      grid-column-gap: 1rem;
      grid-row-gap: 3rem;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(200px,.4fr));
    }
    .grid-container-2{
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }

    .grid-container-3{
      grid-row-gap: 3rem;
    }
    .image-container{
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
    @media screen and (min-width: 200px) and (max-width: 670px){
        .grid-container{
          grid-template-columns: 1fr;
        }
    }
    @media screen and (min-width: 200px) and (max-width: 1000px) {
      .grid-container-2 > div:nth-child(3) {
        grid-column: span 2; 
      }
    }
    
    @media screen and (max-width: 700px) {
      .grid-container-2 {
        grid-template-columns: 1fr; /* Set to a single column */
      }
      .grid-container-2 > div:nth-child(3) {
        grid-column: auto; /* Reset the grid-column for the third child */
      }
    }

    .active{
      color: #fb8312;
    }

    @media screen and (max-width: 500px) {
      .grid-container-3 {
        grid-template-columns: 1fr; /* Set to a single column */
      }
      .grid-container-3 > div:nth-child(3) {
        grid-column: auto; /* Reset the grid-column for the third child */
      }
    }

    .nav-top{
      animation: navAnimate 0.5s ease-in-out;
    }

    @keyframes navAnimate {
      0%{
          transform: translateY(-50px);
      }100%{
          transform: translateY(0px);
      }
    } 
    .popup-box{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: transparent;
      z-index: 0;
      opacity: 1;
      pointer-events: none;
      cursor: pointer;
      transition: all 0.3s linear;
      transition-delay: 0.4s;
    }
    .popup-box-open{
      z-index: 40;
      opacity: 1;
      pointer-events: unset;
      background-color: rgba(0, 0, 0, 0.8);
      transition: all 0.3s linear;
      transition-delay: 0.4s;
  }
}


